<h1>Add a list:</h1>

<p>Add list here:</p>

<form action="/lists" method="post">
  <label for="name">Name:</label>
  <input id="name" name="name" type="text">

  <button type="submit">Add List</button>
</form>
